workflows/n8n_workflow.json
{
  "name": "Contract Risk Alert System",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.risk_level }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Check High Risk",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "path": "/webhook/contract-alert"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [680, 300],
      "webhookId": "contract-alert-webhook"
    },
    {
      "parameters": {
        "subject": "🚨 High Risk Contract Detected",
        "text": "Contract '{{ $json.contract_name }}' has been flagged as HIGH RISK.\n\nRisk Details: {{ $json.risk_details }}\n\nPlease review immediately.\n\nGenerated by ContractCompass AI",
        "toEmail": "legal-team@company.com"
      },
      "name": "Send Email Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "channel": "C01234567", 
        "text": "🚨 *High Risk Contract Alert*\n\n*Contract:* {{ $json.contract_name }}\n*Risk Level:* {{ $json.risk_level }}\n*Details:* {{ $json.risk_details }}\n\nPlease review immediately!"
      },
      "name": "Send Slack Alert", 
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Check High Risk",
            "type": "main", 
            "index": 0
          }
        ]
      ]
    },
    "Check High Risk": {
      "main": [
        [
          {
            "node": "Send Email Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Slack Alert", 
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}